.options-menu {
  position: relative;
  display: inline-block;
}

.menu-button {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

.menu-button:hover {
  color: rgb(189, 189, 189);
  transition: all 0.2s;
}

.dropdown {
  position: absolute;
  /* right: 10px; */
  left: 0px;
  margin-top: 6px;
  background: white;
  border: 0.5px solid #ccc;
  border-radius: 21px;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;

  min-width: 140px;
  z-index: 49;
  font-family: "lamaSans";
}

.dropdown a,
.dropdown button {
  display: block;
  margin: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  background: white;
  border: none;
  cursor: pointer;
  font: inherit;
  color: black;
}

.dropdown a:hover,
.dropdown button:hover {
  color: rgb(189, 189, 189);
}
